@page "/"
@using System.Drawing

<PageTitle>Index</PageTitle>

<h1>Wypożyczalnia nart i sprzętu narciarskiego</h1>

Panel administratora
<br/>
<img class="oi-image" width="1000px" height="auto" src="css/images/ropeway-with-snow-covered-alps.jpg" alt="Ski"/>
<br/>
<img class="oi-image" width="1000px" height="auto" src="css/images/closeup-shot-snowboards-covered-snow-mountains.jpg" alt="Snowboard"/>