@page "/"

<PageTitle>Wypożyczalnia</PageTitle>

<h1>Wypożyczalnia sprzętu narciarskiego</h1>

Panel administratora
<br/>
<img src="pexels-pixabay-417173.jpg" width="1000px" alt="Mountains"/>
<br/>
<img src="closeup-shot-snowboards-covered-snow-mountains.jpg" width="1000px" alt="Mountains"/>
